* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.grid-container {
    border: 2px solid grey;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
}

div {
    padding: 20px 0;
    background-color: #E91E62;
    color: white;
    border: 4px solid white;
    text-align: center;
}

#january{
    grid-column: 1 / 3;
}
#february{
    grid-column: 3 / 5;
}
#march{
    grid-column: 1 / 2;
}
#april{
    grid-column: 2 / 3;
}
#may{
    grid-column: 3 / 4;
    grid-row: 2/4;
}
#june{
    grid-column: 4 / 5;
    grid-row: 2/4;
}
#july{
    grid-column: 1 / 2;
}
#august{
    grid-column: 2 / 3;
}
#september{
    grid-column: 1 / 2;
}
#october{
    grid-column: 2 / 4;
}
#november{
    grid-column: 4 / 5;
}
#december{
    grid-column: 1 / 5;
}